h3 {
    color: blue;
    font-weight: 700;
    font-family: '맑은고딕';
}

p {
    font-size: 14px;
    line-height: 180%;
}

li {
     list-style-type: square;
     font-size: 16px;
     line-height: 150%;
}

span {
    font-weight: 700;
}

body { 
    font-family: '돋움';
}